.DS_Store
Src/AnomlyDetectionDocGen/out.md
Src/AnomlyDetectionDocGen/*.json
Src/EventDefDocGen/*.json
Src/EventDefDocGen/out.md
Src/docker/.env
Src/docker/storage/*
Src/SigmaRulesDocGen/rules/*
Src/SigmaRulesDocGen/auth.ini
Src/SigmaRulesDocGen/rules copy/*
Src/SigmaRulesDocGen/out.md
Src/SigmaRulesDocGen/ids.txt
