# BASE URI for Graylog Cluster
#   e.g.
#       http://hostname.domain.tld:9000
#       https://hostname.domain.tld
GRAYLOG_URI_BASE=https://hostname.domain.tld

# API Token
GRAYLOG_API_TOKEN=

# Name of CSV file to upload
GRAYLOG_CSV_FILE_NAME_FULLPATH="filename.csv"

# Name of Data Adapter
GRAYLOG_DATA_ADAPTER_NAME=